<section id="section1" class="site">

    <div class="container">


        
        <div class="row">



            <div class="col-md-6 col-12">
    
                





                <div class="text-center bottom2">
      
      
                  {if="$error != ''"}
                      <div class="alert alert-danger">
                          {$error}
                      </div>
                      {/if}
                  

                  

                  <div style="--aspect-ratio: 16/9;" class="iframe1 bottom2">
                      <iframe style="--aspect-ratio: 16/9;" width="" height="" src="https://www.youtube.com/embed/P8qOdYjVbv4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class="bottom2">
                      
                      <h3>
                          Saiba como <u>DOMINAR</u> o <span class="color1">PDO com MySQL</span> e <u>TURBINE</u> o seu Currículo
                      </h3>
                  </div>


          


                  

              </div>
  
              
          </div>







            <div class="col-md-6 col-12 text-center">


            
            
                <div class="row">
                    <div class="col-12 bottom2">
                        <h1>
                            Descubra como comunicar com o Banco de Dados utilizando a <span class="color1">clássica biblioteca PDO</span> e torne-se um <span class="color1">Programador PHP</span> com muito mais <u>Segurança</u> e <u>Autonomia</u>
                        </h1>
                    </div>
                </div>


                <div class="row centralizer">
                    <div class="col-10 bottom2">
                        <form action='/{function="getLeadUri("lead5")"}' method="post">
    
                            <div class="form-group">
            
                              <!-- 
                              <label for="exampleInputEmail1">E-mail</label>
                              -->
    
    
                              <div class="bottom2">
    
                                <h4>Coloque seu Email e Adquira Acesso <span class="color1"><u>Imediato</u></span> e <span class="color1"><u>Gratuito</u></span> ao curso <span class="color1">{$name}</span></h4>
    
                              </div>
            
                              
                          
            
                              
            
                              {if="$error != ''"}
                              <div class="alert alert-danger">
                                  {$error}
                              </div>
                              {/if}
            
            
                              <input type="email" class="form-control bottom2" id="deslogin" name="deslogin" aria-describedby="emailHelp" placeholder="Seu Melhor E-mail" value="{$registerLead5.deslogin}">
            
                            </div>
            
            
            
            
                            <!--
                            <div class="form-group">
                
                            <label for="exampleInputPassword1">Telefone</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefone">
                
                            </div>
                            -->
            
            
            
            
                            <div class="bottom2">
                                
                                <button id="conversion1" type="submit" class="button2 buttonl">Sim! Quero começar a DOMINAR o PDO e me tornar um Programador mais Completo e Independente!</button>
            
            
                            </div>
        
                        </form>
                    </div>
                </div>

        
        
                <div class="bottom2">
                    
                </div>
    
    
    
    
    
            </div>
    
    
    
    
            



        </div>




    </div>
    <!--container-->


</section>











<section id="section2" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-5 col-12 vertical-centralizer bottom3">

                <div class="media1">
                    
                    <img src="/res/images/banner/pdo2.png" alt="Banner do Curso">
                </div> 
                

            </div>
          

            <div class="col-md-7 col-12">

                <div class="bottom2">
                    <h2>O QUE É ESTE CURSO</h2>
                </div>

                <div class="bottom2">
                    <h4>
                        O PDO Starter é um <u>Minicurso 100% Gratuito</u> veio para ajudar você que acabou de fazer algum curso básico na Linguagem PHP e precisa realizar projetos "mão na massa" para treinar suas habilidades em programação.
                    </h4>
                </div>


                <div class="bottom2">
                    <h4>
                        Através de {$total_classes} aulas super práticas e objetivas você irá TURBINAR o seu nível como Programador, adquirindo Autonomia para comunicar com o Banco de Dados.
                    </h4>
                </div>
                <div class="bottom2">
                    <h4>
                        Nós iremos ver, em um Projeto TOTALMENTE Prático, como utilizar o PDO para realizar os comandos SELECT, INSERT, UPDATE e DELETE no banco de dados MySQL.
                    </h4>
                </div>
                <div class="bottom2">
                    <h4>
                        Ao final deste minicurso você irá DOMINAR a comunicação com o Banco de Dados utilizando o PHP, se tornando um profissional muito mais Seguro e Independente, se mudando seu nível como Programador.
                    </h4>
                </div>
                            




            </div>
            

        </div>
        

</section>

































<section id="section15" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        COMO ESTE CURSO PODE TE TRANSFORMAR?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->












        
        <div class="row align1">


            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-terminal"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Turbine Suas Habilidades Em Programação</h3>
                    </div>

                    <h4>A Melhor Forma de Aprender é Construindo Você Mesmo e ao Final deste Curso você terá evoluído Muitas Semanas em Poucas Horas!</h4>

                </div>

            </div>



            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-expand"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Ganhe Autonomia</h3>
                    </div>

                    <h4>Domine a Comunicação com o Banco de Dados utilizando o PDO e construindo um DAO e nunca mais dependa da ajuda de terceiros</h4>

                </div>

            </div>



            


            







            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-star"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Construa um Portfólio de Projetos</h3>
                    </div>

                    <h4>Construa um Sistema Web, publique ele e coloque no seu Git Hub. Você vai ver que mostrar o que você sabe vai te trazer muito mais Credibilidade e Autoridade como Programador</h4>

                </div>

            </div>



        </div>










    </div><!--container-->

</section>






















<section id="section12" class="site">

    <div class="container">

        <div class="row centralizer">
            <div class="col-md-8 col-12 text-center">

                <div class="bottom2">
                    <h4>
                        Imagine se você pudesse, <u>em poucas horas</u>, DOMINAR a comunicação com o Banco de Dados e <span class="color1">Mudar de nível como Programador PHP?</span>
                    </h4>
                </div>

                
                <div class="bottom2">
                    <h4>
                        Imagine se você pudesse se sentir um <span class="color1">Programador PHP</span> mais Seguro e não precisasse mais recorrer a ajuda de terceiros?
                    </h4>
                </div>

                <div class="bottom2">
                    <h4>
                        Pois é, agora você pode!
                    </h4>
                </div>

                <div class="bottom2">
                    <h4>
                        <span class="color1">O minicurso PDO Starter</span> vai te ajudar, em menos de {$duration} e de forma 100% Prática, a <span class="color1">DOMINAR o PDO</span> e elevar seu nível profissional!
                    </h4>
                </div>
               


            </div>
        </div>
        




    </div><!--container-->

</section>













<section id="section4" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        COMO FAÇO PRA ACESSAR O CURSO?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->





        <div class="row">
            
            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 


                        <li><i class="fa fa-angle-double-right"></i>&nbsp; O curso tem somente {$total_classes} aulas, é direto e objetivo!</li>

                        <li><i class="fa fa-angle-double-right"></i>&nbsp; Depois que cadastrar o seu email, será enviado pra ele todas as instruções!</li>

                        

                        


                        
                        

                        

                        


                        

                        

                        

                        

                        

                                                

                        

                    </ul>

                </div><!--gifts-section1-->


            </div>

            


            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 

                        

                        <li><i class="fa fa-angle-double-right"></i>&nbsp; Basta acessar o Painel de Membros e assistir suas aulas para Dominar o PDO!</li>

                        <li><i class="fa fa-angle-double-right"></i>&nbsp; Qualquer dúvida basta entrar em contato com o Suporte dentro da própria área de membros!</li>
                        

                    </ul>
    
                </div><!--col-->

            </div><!--col-->


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>
























<section id="section5" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        VEJA ALGUMAS AULAS DO CURSO
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->





        <div class="row bottom2">
            
            <div class="col-md-6 col-12 text-center">

                <div style="--aspect-ratio: 16/9;" class="iframe2 bottom2">
                    <iframe width="" height="" src="https://www.youtube.com/embed/ANvGrkuJ_BI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                 <div class="bottom3 ">
                    <h4>
                        <span class="color2">O que é o PDO?</span>
                    </h4>
                </div>


            </div>

            


            <div class="col-md-6 col-12 text-center">

                <div style="--aspect-ratio: 16/9;" class="iframe2 bottom2">
                    <iframe width="" height="" src="https://www.youtube.com/embed/bzOzJQcpF9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="bottom3 ">
                    <h4>
                        <span class="color2">Configurando o Banco de Dados</span>
                    </h4>
                </div>

            </div><!--col-->

               
            
        </div><!--row-->










        <div class="row">
            
            <div class="col-md-6 col-12 text-center">

                <div style="--aspect-ratio: 16/9;" class="iframe2 bottom2">
                    <iframe width="" height="" src="https://www.youtube.com/embed/Rkdi-Jai7ws" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="bottom3 ">
                    <h4>
                        <span class="color2">Explicando o Projeto</span>
                    </h4>
                </div>


            </div>

            


            <div class="col-md-6 col-12 text-center">

                <div style="--aspect-ratio: 16/9;" class="iframe2 bottom2">
                    <iframe width="" height="" src="https://www.youtube.com/embed/7BtZA8XUNF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


                <div class="bottom3 ">
                    <h4>
                        <span class="color2">Instanciando a Classe PDO</span>
                    </h4>
                </div>

            </div><!--col-->

               
            
        </div><!--row-->
















    </div><!--container-->

</section>








































































<section id="section8" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-3 col-12 vertical-centralizer bottom3">

                


                <div class="media6">
                    
                    <img src="/res/images/avatar.jpg" alt="Instrutor do Curso">
                </div>  
                

            </div>
          

            <div class="col-md-9 col-12">

                <div class="bottom2">
                    <h2>CONHEÇA O <u>ESPECIALISTA</u> QUE IRÁ TRANSFORMAR A SUA VIDA</h2>
                </div>


                <div class="bottom2">

                    <h4>
                        Olá, eu sou o José Paulo de Carvalho, programador com 7 anos de experiência, especializado em Sistemas Web e com principais conhecimentos em PHP, JQuery, Javascript e SEO On-Page.
                    </h4>

                </div><!--gifts-section1-->


                <div class="bottom2">

                    <h4>
                        Já passei por diversas empresas e startups de TI e Desenvolvimento do interior de São Paulo e Belo Horizonte-MG, trabalhando com Implantação de Redes, Desenvolvimento de Sistemas, Web Design, Ecommerce e SEO.
                    </h4>

                </div><!--gifts-section1-->

                <div class="bottom2">

                    <h4>
                        Atualmente, além de prestar serviços de programação de forma autônoma, também trabalho com Marketing Digital, atuando com Dropshipping e como Produtor e Co-Produtor.
                    </h4>

                </div><!--gifts-section1-->



                <div class="bottom2">

                    <h4>
                        Neste curso eu quero te ajudar a compreendar 100% na Prática o uso do Password Hashing, do Base64 e da Criptografia (com OpenSSL) em PHP, para você expandir suas habilidades em Programação e elevar seu Nível Profisional.
                    </h4>

                </div><!--gifts-section1-->
                





            </div>
            

        </div>
        

</section>








































































































<section id="section16" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-5 col-12 vertical-centralizer bottom3">

                


                <div class="media10">
                    
                    <img src="/res/images/phpmysql2.png" alt="PDO Starter - Outro Banner">
                </div>  
                

            </div>
          

            <div class="col-md-7 col-12">

                <div class="bottom2">
                    <h2>QUAIS SÃO OS PRÉ-REQUISITOS PRA FAZER O CURSO?</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-check"></i>&nbsp; Conhecer os fundamentos da linguagem PHP (já ter feito um curso básico em PHP por exemplo)</li>

                        <li><i class="fa fa-check"></i>&nbsp; Conhecer o básico da Linguagem SQL</li>

                                                               

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>



















































































































<section id="section7" class="site">

    <div class="container">


        <div class="row">

            
          

            <div class="col-md-8 col-12">

                <div class="bottom2">
                    <h2>ESTE CURSO É PRA QUEM...</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 


                        <li><i class="fa fa-terminal"></i>&nbsp; Quer dominar a clássica biblioteca PDO do PHP</li>




                        <li><i class="fa fa-terminal"></i>&nbsp; Quer aprender a comunicar com o banco de dados sem depender mais da ajuda de terceiros para isso</li>




                        <li><i class="fa fa-terminal"></i>&nbsp; Quem quer Aprimorar suas Habilidades em PHP e em Programação em Geral</li>

                        <li><i class="fa fa-terminal"></i>&nbsp; Quem começou há pouco tempo na Programação e quer desenvolver seus primeiros projetos práticos</li>




                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>


            <div class="col-md-4 col-12 vertical-centralizer bottom3">

                


                <div class="media10">
                    
                    <img src="/res/images/pdostarter.png" alt="PDO Starter - Mais um Banner">
                    
                </div>  
                

            </div>

        </div>
        

</section>






















































































































































































































































































<section id="section14" class="site">

    <div class="container">


           





        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        AINDA TEM DÚVIDAS?
                    </h2>

                    <h4>
                        Fale com a gente no WhatsApp. Vai ser um prazer te ajudar!
                     </h4>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->
        
        <div class="row centralizer">


            
     
            <div class="col-md-6 text-center bottom3">
                
                
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5531984050125&text=Quero%20Falar%20Sobre%20O%20Curso%20PDO%20Starter!">
                    <button class="button1">Quero tirar dúvidas no WhatsApp!</button>
                </a>             
                

            </div><!--col-->
            
        </div><!--row-->


    </div><!--container-->

</section>






















