<section id="section1" class="site">

    <div class="container">


        
        <div class="row centralizer">
            
            <div class="col-md-10 col-12 text-center">
                
                <div class="bottom2">
                    <h1>Descubra como dominar o nível iniciante no violão e passar mais rapidamente pro intermediário, se sentindo mais feliz e realizado com sua performance no instrumento!</h1>

                </div>

            </div>

        </div>


        <div class="row centralizer">



            <div class="col-md-8 col-12">

                

                <div class="form1 text-center">



                    

                    <form action='/{function="getLeadUri("lead1")"}' method="post">

                      <div class="form-group">

                        <!-- 
                        <label for="exampleInputEmail1">E-mail</label>
                        -->

                        <div class="bottom2">
                            <h3>Insira Seu Email Abaixo e Clique No Botão Para Receber o E-book Violão Do Zero Ao Intermediário 1.0 Gratuitamente!</h3>
                        </div>

                        

                        {if="$error != ''"}
                        <div class="alert alert-danger">
                            {$error}
                        </div>
                        {/if}


                        <input type="email" class="form-control bottom2" id="desemail" name="desemail" aria-describedby="emailHelp" placeholder="Seu Melhor E-mail" value="{$registerLead1.desemail}">

                      </div>




                    <!--
                    <div class="form-group">

                    <label for="exampleInputPassword1">Telefone</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telefone">

                    </div>
                    -->




                      <button type="submit" class="button1">Quero Aprender Violão e Passar Mais Rapidamente Pro Nível Intermediário!</button>

                    </form>

                </div>
                <!--textIntroduction_-->

            </div>









            



        </div>

    </div>
    <!--container-->


</section>















<section id="section2" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        O QUE VOCÊ IRÁ ENCONTRAR NESTE E-BOOK?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->





        <div class="row">
            
            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 

                        <li><i class="fa fa-check"></i>&nbsp; Postura para Tocar</li>

                        <li><i class="fa fa-check"></i>&nbsp; Nomes dos Dedos das Mãos</li>

                        <li><i class="fa fa-check"></i>&nbsp; O que são Cifras</li>

                        <li><i class="fa fa-check"></i>&nbsp; Como Ler Cifras</li>

                        <li><i class="fa fa-check"></i>&nbsp; O que são Tons e Semi-Tons</li>

                        <li><i class="fa fa-check"></i>&nbsp; Sustenidos e Bemóis</li>

                        

                        

                        

                        

                        

                                                

                        

                    </ul>

                </div><!--gifts-section1-->


            </div>

            


            <div class="col-md-6">

                <div class="bottom3">

                    <ul> 
                        

                        
                        <li><i class="fa fa-check"></i>&nbsp; A Escala de Dó</li>

                        
                        <li><i class="fa fa-check"></i>&nbsp; Acordes Maiores, Menores e com Sétima</li>
                        
                        <li><i class="fa fa-check"></i>&nbsp; Como Procurar Músicas Pra Tocar</li>

                        <li><i class="fa fa-check"></i>&nbsp; Como Usar um Dicionário de Acordes</li>

                        <li><i class="fa fa-check"></i>&nbsp; Com Afinar Seu Violão</li>
                        
                        <li><i class="fa fa-check"></i>&nbsp; E vários macetes!</li>

                    </ul>
    
                </div><!--col-->

            </div><!--col-->


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>

















<section id="section3" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-4 col-12 vertical-centralizer bottom3">

                <div class="media1">
                    
                    <img src="/res/images/ebook1.png" alt="Imagem de E-book">
                </div>  
                

            </div>
            <!--col-lg-8-->

            <div class="col-md-8 col-12">

                <div class="bottom2">
                    <h2>Olá, Iniciante!</h2>
                </div>

                <div class="bottom2">
                    <h4>Se você é apaixonado por violão e quer começar a tocar, você está no lugar certo!</h4>
                </div>

                <div class="bottom2">
                    <h4>Preparamos este material simples e relevante pra você dominar o nível iniciante e passar do <strong>zero pro nível intermediário</strong> rapidamente.</h4>
                </div>

                <div class="bottom2">
                    <h4>Quando você terminar a leitura, saiba que não será mais um simples iniciante, mas já dominará as ferramentas que vão te permitir ir além e iniciar seus estudos intermediários.</h4>
                </div>

                <div class="bottom2">
                    <h4>Várias pessoas fizeram o Download e já estão dominando o violao e se sentindo mais felizes e realizados com o instrumento. Não fique de fora e baixe o seu também!</h4>
                </div>

            </div>
            <!--col-md-4-->

        </div>
        <!--row-->

</section>







