<section id="section1" class="site">

    <div class="container">


        
        <div class="row centralizer">
            
            <div class="col-md-10 col-12 text-center">
                
                <div class="bottom2">
                    <h1>Obrigado!</h1>

                </div>

            </div>

        </div>


        <div class="row centralizer">



            <div class="col-md-8 col-12 text-center">

                

                <div class="bottom3">
                    <h3>Você receberá todas as instruções por email em até 30 minutos e logo estará Dominando o PDO e melhorando o seu Currículo!</h3>
                </div>

            

            </div>
           


        </div>



    </div>
    <!--container-->


</section>



















<section id="section20" class="site">

    <div class="container">


        
        <div class="row">



            <div class="col-md-6 col-12">
    
                





                <div class="text-center bottom2">
      
      
             

                  

                  <div style="--aspect-ratio: 16/9;" class="iframe1 bottom2">
                      <iframe style="--aspect-ratio: 16/9;" width="" height="" src="https://www.youtube.com/embed/jE9SMV71Ax8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>

                  <div class="bottom2">
                      
                      <h3>
                          Sistema de Login pra Marketplace Multiuser
                      </h3>
                  </div>


          


                  

              </div>
  
              
          </div>







            <div class="col-md-6 col-12 text-center">


            
            
                <div class="row">
                    <div class="col-12 text-left">
                        <div class="bottom3">
                            <h2>
                                ENQUANTO ISSO, EU TENHO UM RECADO PRA VOCÊ...
                            </h2>
                        </div>

                        <div class="bottom2">
                            <h4>
                                Se você já conhece os fundamentos da Linguagem PHP e está louco pra conseguir seus primeiros trabalhos…
                            </h4>
                        </div>

                        <div class="bottom2">
                            <h4>
                                Eu vou te dar um conselho… Desenvolva sistemas!
                            </h4>
                        </div>

                        <div class="bottom2">
                            <h4>
                                A forma mais RÁPIDA e EFICIENTE de você se tornar um programador completo e MUDAR o seu jogo é sabendo como desenvolver sistemas com as próprias mãos..
                            </h4>
                        </div>

                        <div class="bottom2">
                            <h4>
                                Descubra como evoluir MESES em POUCAS HORAS e deixar de ser somente mais um programador novato e com pouca experiência através do curso Sistema de Login pra Marketplace Multiuser.
                            </h4>
                        </div>

                        <div class="bottom2">
                            <h4>
                                Esse curso já ajudou mais de 50 programadores a melhorarem seu nível como Programdor Web PHP.
                            </h4>
                        </div>


                        <div class="bottom2">
                            <h4>
                                Assista a 4 Módulos GRATUITAMENTE e AVALIE o curso!
                            </h4>
                        </div>


                      
                        <div class="bottom2">
                            <a id="conversion1" href="/sistema-de-login-pra-marketplace-multiuser/cadastro-gratuito">
                                <button class="button2">Sim! Quero ter acesso GRATUITO e Avaliar o curso!</button>
                            </a>
                            
                        </div>

                        
                    </div>
                </div>


                

           
    
    
    
            </div>
    
    
    
    
            



        </div>




    </div>
    <!--container-->


</section>






