<div class="list-group">





    <div class="menu-main-pages">
        
        <a href="/557788admin" class="list-group-item list-group-item-action">Início</a>
        <a href="/557788admin/usuarios" class="list-group-item list-group-item-action">Usuarios</a>
        <a href="/557788admin/templates" class="list-group-item list-group-item-action">Templates</a>
        <a href="/557788admin/maquinas" class="list-group-item list-group-item-action">Máquinas</a>
        <a href="/557788admin/analytics" class="list-group-item list-group-item-action">Analytics</a>

    </div>


 






    <div class="menu-main-pages">


        <a href="/557788admin/mudar-senha" class="list-group-item list-group-item-action">Alterar Senha</a>  
        
        <a href="/557788admin/logout" class="list-group-item list-group-item-action">Sair</a>

    </div><!--menu-main-pages-->




</div><!--list-group-->