<footer class="text-center">

    <div class="container-fluid">

        







    <div class="row centralizer">

        <div class="col-md-12 bottom-footer">

            <div class="caption">

                <p>Ext2 Intermediação de Negócios e WebDesign © {function="getYear()"} - CNPJ 34.700.513/0001-27</p>

            <h6><i class="fa fa-lock"></i>&nbsp;&nbsp;Site Protegido</h6>

            </div><!--caption-->

        </div><!--col-xs-12-->

    </div><!--row-->





    <a href="https://wa.me/5531984050125?text=Olá,%20quero%20falar%20com%20o%20Suporte%20do%20site%20Programar%20em%20PHP!" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;z-index:1000;" target="_blank">
        <i style="margin-top:16px" class="fa fa-whatsapp"></i>
    </a>

    


    </div><!--container-->

</footer>
   





    <script type="text/javascript" src="/res/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/res/js/popper.min.js"></script>

    

    <script type="text/javascript" src="/res/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="/res/js/main.js"></script>






    

  </body>
</html>