<section class="dashboard dashboard-index">

    <div class="container-fluid">            
            

            
        <div class="row">

                


            <div class="col-md-3 col-12 dash-menu">


                {include="admin-menu1"}
                    

            </div><!--col-->




            <div class="col-md-9 col-12 dash-panel">



                

                <form action="/557788admin/usuarios/adicionar/{$machine.idmachine}" method="post">



             

                    <div class="row">
                        <div class="col-12">
                            <h4>Adicionar Usuário</h4>
                        </div>
                    </div>



                    {if="$success != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {$success}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}

                    {if="$error != ''"}
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {$error}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div> 
                        </div>  
                    {/if}


                    

                    <div class="row">
                        
                        <div class="col-md-6 dash-column">



                            <div class="dash-input-row">

                                <label for="desperson">Nome</label>
                                <input type="text" class="form-control" id="desperson" name="desperson">

                            </div><!--dash-input-row-->




                            <div class="dash-input-row">

                                <label for="deslogin">Login</label>
                                <input type="text" class="form-control" id="deslogin" name="deslogin">

                            </div><!--dash-input-row-->




                            
                        

                        </div><!--col-md-6-->





                        <div class="col-md-6">
                            
                            
                            
                            &nbsp;

                            
                            
                        </div><!--col-md-6-->


                    </div><!--row-->





                    <div class="row">

                        <div class="col-md-12">

                            <div class="dash-input-row input-footer">
                                
                                <button type="submit" class="btn btn-primary">Salvar</button>

                                <a href="/557788admin/usuarios" class="btn btn-danger">Voltar</a>

                            </div><!--dash-input-row-->
                            
                        </div><!--col-->

                    </div><!--row-->



                </form>



            </div><!--col-->
        


      
        </div><!--row-->
    
    </div><!--container-->

</section>

