<section id="section1" class="site">

    <div class="container">


        
        <div class="row centralizer">
            
            <div class="col-md-10 col-12 text-center">
                
                <div class="bottom">
                    
                    <h1>José Paulo Carvalho</h1>

                </div>

                <div class="bottom2">
                        
                    <h3>
                        <span class="color1">
                            Gestor de Tráfego 
                                &nbsp;<i class="fa fa-circle"></i>&nbsp;
                            Google Ads
                        </span>
                    </h3>
                </div>
                

            </div>

        </div>


       

    </div>
    <!--container-->


</section>

















































<section id="section8" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-3 col-12 vertical-centralizer bottom3">

                


                <div class="media6">
                    
                    <img src="/res/images/avatar.jpg" alt="Instrutor do Curso">
                </div>  
                

            </div>
          

            <div class="col-md-9 col-12">

                <div class="bottom2">
                    <h2>QUEM SOU EU</h2>
                </div>


                <div class="bottom2">

                    <h4>
                        Olá, meu nome é José Paulo, sou <span class="color4">Programador</span> e <span class="color4">Gestor de Tráfego,</span> e trabalho criando Campanhas no <span class="color4">Google Ads.</span>
                    </h4>

                </div><!--gifts-section1-->


                <div class="bottom2">

                    <h4>
                        Eu posso ajudar você a <span class="color4">Alavancar</span> o seu Negócio fazendo a <span class="color4">Gestão do Tráfego</span> da sua Publicidade Online.
                    </h4>

                </div><!--gifts-section1-->


                <div class="bottom2">

                    <h4>
                        Acredite! Neste <span class="color4">exato momento</span> tem alguém na Internet <u>procurando</u> pelos serviços que <u>VOCÊ</u> pode oferecer.
                    </h4>

                </div><!--gifts-section1-->

                         

            </div>
            

        </div>
        

</section>





























<section id="section15" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        COMO EU POSSO AGREGAR VALOR PARA O SEU NEGÓCIO?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->












        
        <div class="row align1">



            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-shield"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Enxugando os seus Custos com Publicidade Online</h3>
                    </div>

                    <h4>Eu posso te ajudar a cortar gastos desnecessários e a direcionar melhor a sua Verba</h4>

                </div>

            </div>



            


            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-expand"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Expandindo o seu Negócio</h3>
                    </div>

                    <h4>Eu posso fazer novos clientes te descobrirem</h4>

                </div>

            </div>







            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-fighter-jet"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Turbinando o seu Faturamento</h3>
                    </div>

                    <h4>Posso atrair o cliente certo para o seu negócio, aumentando a quantidade de vendas</h4>

                </div>

            </div>



        </div>










    </div><!--container-->

</section>















<section id="section24" class="site">

    <div class="container">


        <div class="row centralizer">

                     

            <div class="col-md-6 col-12 text-center">

                <div class="bottom1">
                    <h2>RESULTADOS</h2>
                </div>


                <div class="bottom2">

                    <h4>
                        Alguns resultados recentes em Vendas
                    </h4>

                </div><!--gifts-section1-->



                         

            </div>
            

        </div>
        

</section>











































<section id="section16" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-8 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case01.jpg" alt="Monetizze">
                </div>  
                

            </div>
          

            <div class="col-md-4 col-12">

                <div class="bottom2">
                    <h2>MONETIZZE</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-check"></i>&nbsp; Vendendo produtos físicos na <span class="color1"><strong>Monetizze</strong></span> desde maio de 2021</li>
                        
                        <li><i class="fa fa-check"></i>&nbsp; <span class="color1"><strong>231</strong></span> Vendas</li>

                        <li><i class="fa fa-check"></i>&nbsp; Faturamento de <span class="color1"><strong>R$ 20.439,97</strong></span> em Comissões</li>


                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>



















































































































<section id="section7" class="site">

    <div class="container">


        <div class="row">

            
          <div class="col-md-8 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case03.jpg" alt="Hotmart">
                    
                </div>  
                

            </div>

            <div class="col-md-4 col-12">

                <div class="bottom2">
                    <h2>HOTMART</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-terminal"></i>&nbsp; Vendendo Produtos Digitais na <span class="color1"><strong>Hotmart</strong></span> desde agosto de 2020</li>

                        <li><i class="fa fa-terminal"></i>&nbsp; <span class="color1"><strong>41</strong></span> Vendas</strong></li>

                        <li><i class="fa fa-terminal"></i>&nbsp; Faturamento de <span class="color1"><strong>R$ 2.591,25</strong></span> em Comissões</li>


                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>


            

        </div>
        

</section>


























<section id="section20" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-8 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case02.jpg" alt="Evipes">
                </div>  
                

            </div>
          

            <div class="col-md-4 col-12">

                <div class="bottom2">
                    <h2>EVIPES</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-plus"></i>&nbsp; Vendendo Produtos Físicos na <span class="color1"><strong>Evipes</strong></span> desde setembro de 2021</li>
                        
                        <li><i class="fa fa-plus"></i>&nbsp; <span class="color1"><strong>18</strong></span> Vendas</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Faturamento de <span class="color1"><strong>R$ 1.496,41</strong></span> em Comissões</li>


                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>













































<section id="section12" class="site">

    <div class="container">

        <div class="row centralizer">
            <div class="col-md-8 col-12 text-center">

                <div class="bottom2">
                    <h4>
                        Como seria se você pudesse usar o <span class="color1">Poder da Internet</span> a seu favor pra fazer <span class="color1">mais vendas?</span>
                    </h4>
                </div>


                <div class="bottom2">
                    <h4>
                        Como seria se você pudesse <u>parar de sofrer pra subir campanhas</u> no <span class="color1">Google Ads?</span>
                    </h4>
                </div>


                <div class="bottom2">
                    <h4>
                        Como seria se você pudesse <span class="color1">parar de perder dinheiro</span> com <u>configurações erradas</u> e <span class="color1">direcionar melhor</span> o seu orçamento?
                    </h4>
                </div>

            
                


            </div>
        </div>
        




    </div><!--container-->

</section>















































<section id="section23" class="site">

    <div class="container">

    





        <div class="row centralizer">
            
            <div class="col-md-8 col-12 text-center">  
                


                <div class="bottom2">
                    <h4>
                        <span class="size1">
                            Sim, você pode ter tudo isso, com a ajuda de um <span class="color1">Gestor de Tráfego!</span>
                        </span>
                    </h4>
                </div>


                

                
                <div class="bottom2">
                    <h4>
                        Então mande uma mensagem pra mim <span class="color1">através da Plataforma</span> pra fazermos uma Análise do seu Projeto e <span class="color1">montar um Orçamento!</span>
                    </h4>
                </div>
              
              

                
                

            </div>


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>


























































<section id="section13" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-7 col-12 vertical-centralizer bottom1">

                <div class="media8">
                    
                    <img src="/res/images/certificados/photo35.jpeg" alt="Certificado">
                </div>  
                

            </div>
          

            <div class="col-md-5 col-12">

                <div class="bottom2">
                    <h2>GPA DOMÍNIO ESTRATÉGICO</h2>
                </div>

                <div class="bottom2">
                    <h4>Certificado de Conclusão de um dos <span class="color1"><strong>MELHORES CURSOS</strong></span> de Google Ads do Brasil: <span class="color1"><strong>GPA Domínio Estratégico</strong></span> do <u>Caio Calderaro</u>                       
                    </h4>
                </div>

                


            </div>
            

        </div>
        

</section>







