<section id="banner">

    <div class="container">
        

        <div class="row centralizer">

            
            <div class="col-md-10">

                <div class="text-center">

                    <div class="bottom1">
                        <h1>José Paulo Carvalho</h1>

                    </div>
                    <!--inner-text-introduction-->

                    <div class="bottom2">
                        <h3>Gestor de Tráfego &nbsp;<small><i class="fa fa-circle"></i></small>&nbsp; Google Ads</h3>
                    </div>


                    <a target="_blank" href="https://wa.me/5531984050125?text=Olá,%20preciso%20de%20um%20Gestor%20de%20Tráfego%20e%20gostaria%20de%20marcar%20uma%20Call!"><button type="button" class="button1"><i class="fa fa-whatsapp"></i>&nbsp; Marque uma Call comigo</button></a>


                </div>
                <!--textIntroduction_-->

            </div>
            <!--col-md-12-->

        </div>

    </div>
    <!--container-->
    
</section>















<section id="section1" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        QUEM SOU EU
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->













        <div class="row centralizer bottom1 ">
     
            <div class="col-md-8 text-center">
                
                <div class="bottom2">
                    <p>Olá, meu nome é José Paulo, sou Programador e Gestor de Tráfego, e trabalho planejando e criando Campanhas no <strong>Google Ads</strong> e no <strong>Facebook Ads.</strong></p>
                </div>

            



            </div><!--col-->
            
        </div><!--row-->







    </div><!--container-->

</section>























<section id="section1" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        COMO POSSO TE AJUDAR?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->













        <div class="row centralizer bottom1 ">
     
            <div class="col-md-8 text-center">
                
             

                <div class="bottom3">
                    <p>Eu posso ajudar você a alavancar o seu Negócio fazendo a <strong>Gestão do Tráfego</strong> das suas Campanhas.</p>
                </div>
                
                <div class="bottom2">
                    <p>Minhas principais metas para agregar valor são:</p>
                </div>

                    <p>
                        <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; <strong>Enxugar os seus custos</strong> com Plublicidade Online
                    </p>


                


                    <p><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; <strong>Aumentar o seu Faturamento,</strong> trazendo as pessoas certas para fazer negócio com você</p>
               

                    <p>
                        <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>&nbsp; <strong>Expandir o seu Negócio,</strong> fazendo novos Clientes descobrirem você
                    </p>



            </div><!--col-->
            
        </div><!--row-->







    </div><!--container-->

</section>























<section id="section3">

    <div class="container-fluid">            
            
            
        <div class="row bottom2">

            <div class="col-md-12 text-center">

                <h2>RESULTADOS</h2>

            </div>

        </div>



    



        <div class="row">

            <div class="col-12">
                 

                <div class="card-wrapper">


                    {loop="$cases"}


                    <a target="_blank" href="{$value.desurl}">
                        
                        <div class="card1">
                        

                       

                            <div class="body-header">
    
                                <div class="card-image">
                                
                                    <img alt="Imagem do Portfolio {$counter+1}" src="/res/images/cases/{$value.desphoto}">
    
                                </div>
    
                            </div>
    
    
                            
    
                            <div class="card-body">
                                
    
    
                                <div class="bottom2">
    
    
                                    <h3>{$value.desportfolio}</h3>
    
                                    <hr>
    
    
                                </div>
    
    
    
    
    
                                <div class="body-row">
    
                                    <h4>{$value.desdescription}</h4>
    
                                </div>
    

    
    
                            </div>
                            
                                
                            
                        </div>
                    
                    </a>

                                
                    {/loop}






                </div>

            </div>
    
        </div>


        



    </div>

</section>





















<section id="section4">

    <div class="container-fluid">            
            
            
        <div class="row bottom2">

            <div class="col-md-12 text-center">

                <h2>CERTIFICADO - GPA DOMÍNIO ESTRATÉGICO</h2>

            </div>

        </div>



    



        <div class="row">

            <div class="col-12">
                 

                <div class="card-wrapper">


                    {loop="$certificate"}


                    <div class="card1">
                        

                       
                            
                        


                        <div class="body-header">

                            <div class="card-image">
                            
                                <img alt="Imagem do Certificado {$counter+1}" src="/res/images/certificados/{$value.desphoto}">

                            </div>

                        </div>
                        
                            
                        
                    </div>

                                
                    {/loop}






                </div>

            </div>
    
        </div>


        



    </div>

</section>








<section id="section2">

    <div class="container centralizer text-center">


        <div class="col-12">
            

            <div class="row bottom2 centralizer">
     
                <div class="col-md-12 text-center">
                    
                    <div class="bottom2">
                        <h2>
                            OUTRAS HABILIDADES EM MARKETING DIGITAL
                        </h2>
                    </div>
                    
                                   
                    

                </div><!--col-->
                
            </div><!--row-->




     








            <div class="row">


                

                <div class="col-md-4 col-12 text-center bottom3">

                    <div class="box1 centralizer">

                        <i class="fa fa-usd"></i>

                        
                        <!--<div class="number1 bottom1">
                            <h3>1.</h3>
                        </div>-->

                    </div>

                    <div class="top3">
                        <div class="bottom2">
                            <h3>Gestão de Tráfego</h3>
                        </div>
                        <h4>Planejamento, Criação, Otimização e Escala de Campanhas no Facebook Ads e Google Adwords</h4>
                    </div>

                </div>






                <div class="col-md-4 col-12 text-center bottom3">

                    <div class="box1 centralizer">

                        <i class="fa fa-bookmark"></i>

                        
                        <!--<div class="number1 bottom1">
                            <h3>1.</h3>
                        </div>-->

                    </div>

                    <div class="top3">
                        <div class="bottom2">
                            <h3>Orgânico</h3>
                        </div>
                        <h4>Estratégias de Crescimento Orgânico no Instagram e no YouTube</h4>
                    </div>

                </div>




                <div class="col-md-4 col-12 text-center bottom3">

                    <div class="box1 centralizer">

                        <i class="fa fa-home"></i>

                        
                        <!--<div class="number1 bottom1">
                            <h3>1.</h3>
                        </div>-->

                    </div>

                    <div class="top3">
                        <div class="bottom2">
                            <h3>Páginas de Venda</h3>
                        </div>
                        <h4>Criação de Páginas de Vendas e Página de Obrigado ultra-magnéticas</h4>
                    </div>

                </div>


                


            </div>



































            <div class="row centralizer">



                <div class="col-md-4 col-12 text-center bottom3">

                    <div class="box1 centralizer">

                        <i class="fa fa-filter"></i>

                        
                        <!--<div class="number1 bottom1">
                            <h3>1.</h3>
                        </div>-->

                    </div>

                    <div class="top3">
                        <div class="bottom2">
                            <h3>Funis</h3>
                        </div>
                        <h4>Implementação de Funis e integração com Ferramentas de E-mail Marketing</h4>
                    </div>

                </div>
             





                <div class="col-md-4 col-12 text-center bottom3">

                    <div class="box1 centralizer">

                        <i class="fa fa-space-shuttle"></i>

                        
                        <!--<div class="number1 bottom1">
                            <h3>1.</h3>
                        </div>-->

                    </div>

                    <div class="top3">
                        <div class="bottom2">
                            <h3>Lançamentos</h3>
                        </div>
                        <h4>Planejamento e Execução de Lançamentos Meteóricos</h4>
                    </div>

                </div>


                


            </div>

            



            














        </div>












    </div>
    <!--container-->
    <!-- # End / Contet Text #  -->
</section>



