<footer class="text-center">

    <div class="container-fluid">

        <div id="footer-first-row" class="row">



            <div class="col-md-4 text-left">


                <div class="footer-logo">
                    <img src="/res/images/logo/logo-white.png" class="img-responsive">
                </div>


            </div><!--col-lg-6-->





        





            <div class="col-md-4 text-left">


                <div class="caption">

                    <h2>Contatos</h2>


                    <p><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;<a target="_blank" href="https://linkedin.com/in/paulowebphp">LinkedIn</a></p>
                    <p><i class="fa fa-github"></i>&nbsp;&nbsp;<a target="_blank" href="https://github.com/paulowebphp">Git Hub</a></p>
                    <p><i class="fa fa-globe"></i>&nbsp;&nbsp;<a target="_blank" href="https://profile.codersrank.io/user/paulowebphp">Perfil no Coders Rank</a></p>
                    

                </div><!--caption-->


            </div><!--col-md-3-->







            <div class="col-md-4 text-center">

                

                <div class="caption">

                    <!--<h2>Contatos</h2>-->
                

                    <div class="bottom3">
                        <a target="_blank" href="https://bit.ly/3g0vnWR"><button type="button" class="button2">Fale Comigo no WhatsApp</button></a>
                    </div>

                </div><!--caption-->



                <!--
                <div class="caption">

                    <h2>Redes Sociais</h2>


                    <ul class="list-socials list-unstyled list-group list-group-horizontal">

                        

                        <li>
                            <a href="https://www.facebook.com/bemcaseioficial" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/bemcaseioficial" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
           
                    </ul>


                </div>
                -->


           





            </div><!--col-md-3-->




    </div><!--row-->


















    <div class="row centralizer">

        <div class="col-md-12 bottom-footer">

            <div class="caption">

                <p>Domine O Violão © {function="getYear()"} - CNPJ 34.700.513/0001-27</p>



            <h6><i class="fa fa-lock"></i>&nbsp;&nbsp;Site Protegido</h6>

            </div><!--caption-->

        </div><!--col-xs-12-->

    </div><!--row-->





    

    

    </div><!--container-->

</footer>

<!--
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/res/js/bootstrap.min.js"></script>
-->
    
    <script type="text/javascript" src="/res/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/res/js/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
    
    <script type="text/javascript" src="/res/js/main.js"></script>
    

  </body>
</html>