<!DOCTYPE html>
<html lang="pt-br">


<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{function="getSitePageConfig('metadescription')"}">
  

  <title>{function="getSitePageConfig('pagetitle')"}</title>
  <!-- <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="/res/css/site/stylesheet0.css">
  
  
  <link rel="icon" type="image/png" href="/res/images/favicon/site/favicon.ico" />



  <!--

  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Service",
    "serviceType": "Software as a Service",
    "logo": "https://bemcasei.com.br/res/images/favicon/site/favicon.ico",
    "termsOfService": "https://bemcasei.com.br/termos-uso",
    "category": "Service",
    "areaServed": {
      "@type": "Country",
      "name": "BR"
    },
    "audience": {
      "@type": "PeopleAudience",
      "geographicArea": {
        "@type": "Country",
        "name": "BR"
      }
    },
    "brand": {
      "@type": "Organization",
      "name": "Bem Casei Site de Casamento"
    },
    "provider": {
      "@type": "Organization",
      "name": "Bem Casei Site de Casamento"
    }
  }
  </script>

  -->


  <!-- DEV PIXEL -->
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '416949209682606');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=416949209682606&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
    
    
</head>



<body>

    <header style="display:none!important;"></header>

    