<!DOCTYPE html>
<html lang="pt-br">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{function="getSitePageConfig('metadescription')"}">
    

    <title>{function="getSitePageConfig('pagetitle')"}</title>
    <!-- <link rel="stylesheet" type="text/css" href="/res/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/res/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/res/css/site/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/res/css/site/stylesheet-mobile.css">
    <link rel="stylesheet" type="text/css" href="/res/css/site/print.css" media="print">

    <link rel="icon" type="image/png" href="/res/images/favicon/site/favicon.ico" />



    <!--

    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Service",
      "serviceType": "Software as a Service",
      "logo": "https://bemcasei.com.br/res/images/favicon/site/favicon.ico",
      "termsOfService": "https://bemcasei.com.br/termos-uso",
      "category": "Service",
      "areaServed": {
        "@type": "Country",
        "name": "BR"
      },
      "audience": {
        "@type": "PeopleAudience",
        "geographicArea": {
          "@type": "Country",
          "name": "BR"
        }
      },
      "brand": {
        "@type": "Organization",
        "name": "Bem Casei Site de Casamento"
      },
      "provider": {
        "@type": "Organization",
        "name": "Bem Casei Site de Casamento"
      }
    }
    </script>

    -->

   

    
    
</head>



<body>


    <header>

        <div class="container-fluid">


            <div id="header-device">


                <div class="row centralizer">


                    <div class="col-2 text-center">



                        <div class="logo">


                            <!--<img id="logotipo" src="/res/images/logo/logo-main.png" alt="Logotipo">-->

                            <a href="/">
                                <h2>Portfólio</h2>
                            </a>

                        </div>


                    </div>
                    <!--col-md-->






                    <div class="col-10 text-center">




                        <!--
                            
                        <div id="menu">
                            <ul>
                                <li><a target="_blank" href="/">INÍCIO</a></li>
                                <li><a target="_blank" href="https://wedding.ext2.com.br">WEDDING</a></li>
                                <li><a target="_blank" href="https://plugin.ext2.com.br/formulario-de-contato">PLUGIN WORDPRESS</a></li>
                                <li><a target="_blank" href="https://ecommerce.ext2.com.br">E-COMMERCE</a></li>
                                <li><a target="_blank" href="https://e-book.ext2.com.br">E-BOOK STORE</a></li>
                                <li><a target="_blank" href="https://linhaprojetos.com.br">LINHA PROJETOS</a></li>
                                <li><a target="_blank" href="https://landing.ext2.com.br">LANDING PAGE</a></li>
                                <li><a target="_blank" href="https://code.ext2.com.br">CODE SAMPLES</a></li>
                                <li><a target="_blank" href="https://borussia.ext2.com.br">BORUSSIA</a></li>
                                <li><a target="_blank" href="https://blog.amarcasar.com/" target="_blank">BLOG</a></li>
                                <li><a target="_blank" href="/buscar">BUSCAR CASAL</a></li>
                        
                                <li><a target="_blank" href="/criar-site"><button id="nav-free">TESTE GRÁTIS</button></a></li>
                        
                                <li><a target="_blank" href="/login"><button id="nav-login">LOGIN</button></a></li>
                            </ul>
                        </div>

                        -->



                        <div class="pull-right" id="menu">

                            
                            <div id="dropdown1" class="dropdown">
                              <button id="dropdown1-button" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Portfólio
                              </button>
                              <div id="dropdown1-menu" class="dropdown-menu" aria-labelledby="dropdown1-button">
    
                                    <a target="_blank" href="https://wedding.ext2.com.br" class="list-group-item list-group-item-action">WEDDING</a>
                                    
                                    <a target="_blank" href="https://wedding.ext2.com.br" class="list-group-item list-group-item-action">PLUGIN WORDPRESS</a>
                                    
                                                                        
                                    <a target="_blank" href="https://wedding.ext2.com.br" class="list-group-item list-group-item-action">E-BOOK STORE</a>
                                    
                                    <a target="_blank" href="https://wedding.ext2.com.br" class="list-group-item list-group-item-action">LINHA PROJETOS</a>
                                    
                                    <a target="_blank" href="https://wedding.ext2.com.br" class="list-group-item list-group-item-action">LANDING</a>
                                    
                                    <a target="_blank" href="https://wedding.ext2.com.br" class="list-group-item list-group-item-action">CODE-SAMPLE</a>
                                    
                                    <a target="_blank" href="https://wedding.ext2.com.br" class="list-group-item list-group-item-action">BORUSSIA</a>
    
                                   
    
                              </div><!--dropdown1-menu-->
    
                            </div>
    
    
                        </div><!--menu-->



                    </div>
                    


                </div>
                <!--row-->


            </div>
            <!--header-device-->



            <div id="header-mobile">

                <div class="row">

                    

                    <div class="col-md-12">




                        <div id="menu-condensed">

                            <button id="btn-bars" type="button"><i class="fa fa-bars"></i></button>

                                                       

                        </div>

                        




                        <div id="menu-mobile">

                            <ul>
                                <li><a target="_blank" href="/">INÍCIO</a></li>
                                <li><a target="_blank" href="https://wedding.ext2.com.br">WEDDING</a></li>
                                <li><a target="_blank" href="https://plugin.ext2.com.br/formulario-de-contato">PLUGIN WORDPRESS</a></li>
                                
                                <li><a target="_blank" href="https://e-book.ext2.com.br">E-BOOK STORE</a></li>
                                <li><a target="_blank" href="https://linhaprojetos.com.br">LINHA PROJETOS</a></li>
                                <li><a target="_blank" href="https://landing.ext2.com.br">LANDING PAGE</a></li>
                                <li><a target="_blank" href="https://code.ext2.com.br">CODE SAMPLES</a></li>
                                <li><a target="_blank" href="https://borussia.ext2.com.br">BORUSSIA</a></li>
                                <!--<li><a href="https://blog.amarcasar.com/" target="_blank">BLOG</a></li>  -->
                                <!--<li><a href="/buscar">BUSCAR CASAL</a></li>-->

                                <!--<li><a href="/criar-site"><button id="nav-free">TESTE GRÁTIS</button></a></li>-->

                                <!--<li><a href="/login"><button id="nav-login">LOGIN</button></a></li>-->
                            </ul>

                            <div class="bar-close">
                                <button type="button" class="btn btn-close"><i class="fa fa-close"></i></button>
                            </div>

                        </div>


                        <div id="menu-mobile-mask"></div>

                        

                    </div>
                    <!--col-->
                    

                    
                </div>
                <!--row-->

            </div>
            <!--header-mobile-->






        </div>
        <!--container-fluid-->


    </header>