<section id="section1" class="site">

    <div class="container">


        
        <div class="row centralizer">
            
            <div class="col-md-10 col-12 text-center">
                
                <div class="bottom">
                    
                    <h1>José Paulo Carvalho</h1>

                </div>

                <div class="bottom0">
                        
                    <h3>
                        <span class="color1">
                            Gestor de Tráfego 
                                &nbsp;<i class="fa fa-circle"></i>&nbsp;
                            Google Ads
                                
                                
                        </span>
                    </h3>
                </div>

                <div class="bottom0">
                        
                    <h3>
                        <div class="media13">
                            <img src="/res/images/br32.png" alt="Bandeira do Brasil">
                        </div>

                        <span class="color1">
                            Atendo a Todo Brasil
                        </span>
                    </h3>
                </div>
                

            </div>

        </div>


       

    </div>
    <!--container-->


</section>

















































<section id="section8" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-3 col-12 vertical-centralizer bottom3">

                


                <div class="media6">
                    
                    <img src="/res/images/avatar.jpg" alt="Instrutor do Curso">
                </div>  
                

            </div>
          

            <div class="col-md-9 col-12">

                <div class="bottom2">
                    <h2>QUEM SOU EU</h2>
                </div>


                <div class="bottom2">

                    <h4>
                        Olá, meu nome é José Paulo, moro em Belo Horizonte-MG, sou <span class="color1">Programador,</span> <span class="color1">Gestor de Tráfego</span> e trabalho criando Campanhas no <span class="color1">Google Ads.</span>
                    </h4>

                </div><!--gifts-section1-->


                <div class="bottom2">

                    <h4>
                        Eu já gerenciei <span class="color1">mais de 40K</span> dos meus clientes, com <span class="color1">ROI entre 1 e 4</span> e posso ajudar você a <span class="color1">Alavancar</span> o seu Negócio fazendo a <span class="color1">Gestão do Tráfego</span> dos seus Anúncios Online.
                    </h4>

                </div><!--gifts-section1-->


                <div class="bottom2">

                    <h4>
                        Acredite! Neste <span class="color1">exato momento</span> tem alguém na Internet <u>procurando</u> pelos produtos ou serviços que <u>VOCÊ</u> pode oferecer.
                    </h4>

                </div><!--gifts-section1-->

                         

            </div>
            

        </div>
        

</section>



















































































































































<section id="section17" class="site">

    <div class="container">
        
        

        <div class="row">

            <div class="col-md-6 col-12 vertical-centralizer bottom2">

                <div class="col-12">
                    <div class="media10">
                
                        <img src="/res/images/ads01.jpg" alt="Anúncio Online">
                    </div>  
                </div>

                

            </div>
          

            <div class="col-md-6 col-12">

                <div class="bottom2">
                    <h2>O QUE É GESTÃO DE TRÁFEGO?</h2>
                </div>

                
                <div class="bottom2">

                    <h4>
                        Você certamente já viu esses <span class="color1">Anúncios</span> e <span class="color1">Patrocinados</span> quando você faz alguma pesquisa no <u>Google</u> ou navega no <u>Facebook.</u>
                    </h4>

                </div>

                <div class="bottom2">
                    <h4>
                        Existe uma <span class="color1">Estratégia</span> e uma <span class="color1">Técnica</span> para criar esses Anúncios e receber cliques de pessoas que <u>REALMENTE</u> estejam <span class="color1">procurando pelos seus produtos ou serviços.</span>
                    </h4>

                    
                </div>

                <div class="bottom5">
                    <h4>
                        E é isso que um <span class="color1">Gestor de Tráfego</span> faz pra você.
                    </h4>
                </div>










            </div>
            

        </div>










    </div><!--container-->

</section>









































<section id="section14" class="site">

    <div class="container-fluid">
        
        <div class="row centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        MINHAS ÁREAS DE ATUAÇÃO
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->












        
        <div class="row align1">



            <div class="col-md-3 col-12 text-center centralizer">
    
                <div class="box4">

                    <div class="bottom2">
                        <i class="fa fa-search"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Google Ads</h3>
                    </div>

                    <h4>Campanhas para Rede de Pesquisa e Rede de Display</h4>

                </div>

            </div>



            


            <div class="col-md-3 col-12 text-center centralizer">
    
                <div class="box4">

                    <div class="bottom2">
                        <i class="fa fa-facebook"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Facebook Ads</h3>
                    </div>

                    <h4>Anúncios patrocinados no Facebook e Instagram</h4>

                </div>

            </div>







            <div class="col-md-3 col-12 text-center centralizer">
    
                <div class="box4">

                    <div class="bottom2">
                        <i class="fa fa-youtube"></i>
                    </div>


                    <div class="bottom1">
                        <h3>YouTube Ads</h3>
                    </div>

                    <h4>Apareça em uma das maiores redes de Conteúdo da internet</h4>

                </div>

            </div>












            <div class="col-md-3 col-12 text-center centralizer">
    
                <div class="box4">

                    <div class="bottom2">
                        <i class="fa fa-list"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Tráfego Orgânico</h3>
                    </div>

                    <h4>Faço seu Google Meu Negócio e o SEO do seu site no Google Search Console pra você se posicionar bem organicamente</h4>

                </div>

            </div>



        </div>










    </div><!--container-->

</section>
























































































































































































































<section id="section18" class="site">

    <div class="container">
        
        

        <div class="row">

            <div class="col-md-6 col-12 vertical-centralizer bottom2">

                

                
                <div class="media10">
                    
                    <img src="/res/images/ads02.jpg" alt="Anúncio Online">
                </div>  
                

            </div>
          

            <div class="col-md-6 col-12">

                <div class="bottom2">
                    <h2>COMO FUNCIONA A GESTÃO DE TRÁFEGO?</h2>
                </div>
                
            


                <div class="bottom2">
                    <h4>
                        O Gestor de Tráfego recebe <u>permissão</u> para <span class="color1">criar e editar os seus Anúncios</span> conforme os objetivos que foram traçados. 
                    </h4>
                </div>


                

                

                <div class="bottom2">

                    <h4>
                        O trabalho é <u>100% Online,</u> não necessitando da presença física das partes envolvidas, e por isso, <span class="color1">atendo a negócios de Todo o Brasil.</span>
                    </h4> 

                </div>
                

                

                

            </div>
            

        </div>










    </div><!--container-->

</section>





































<section id="section15" class="site">

    <div class="container">
        
        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        COMO EU POSSO AGREGAR VALOR PARA O SEU NEGÓCIO?
                    </h2>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->












        
        <div class="row align1">



            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-shield"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Enxugando os seus Custos com Publicidade Online</h3>
                    </div>

                    <h4>Eu posso te ajudar a cortar gastos desnecessários e a direcionar melhor a sua Verba</h4>

                </div>

            </div>



            


            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-expand"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Expandindo o seu Negócio</h3>
                    </div>

                    <h4>Eu posso fazer novos clientes te descobrirem</h4>

                </div>

            </div>







            <div class="col-md-4 col-12 text-center centralizer bottom2">
    
                <div class="box3">

                    <div class="bottom2">
                        <i class="fa fa-fighter-jet"></i>
                    </div>


                    <div class="bottom1">
                        <h3>Turbinando o seu Faturamento</h3>
                    </div>

                    <h4>Posso atrair o cliente certo para o seu negócio, aumentando a quantidade de vendas</h4>

                </div>

            </div>



        </div>










    </div><!--container-->

</section>






































<section id="section19" class="site">

    <div class="container">


        <div class="row centralizer">

            <div class="col-md-10 col-12 text-center">

                

                <h2>RESULTADOS
                    <br>
                    <small>
                        Veja alguns Resultados recentes!
                    </small>
                </h2>
                 
            
            </div>
          

            
            

        </div>
        

</section>











































<section id="section16" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-7 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case01.jpg" alt="Monetizze">
                </div>  
                

            </div>
          

            <div class="col-md-5 col-12">

                <div class="bottom2">
                    <h2>PRODUTOS FÍSICOS</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-check"></i>&nbsp; Venda de produtos físicos na <span class="color1"><strong>Monetizze</strong></span></li>
                        
                        <li><i class="fa fa-check"></i>&nbsp; 232 transações completas e finalizadas em <span class="color1"><strong>5</strong></span> meses</li>

                        <li><i class="fa fa-check"></i>&nbsp; Total de <span class="color1"><strong>R$ 48.895,12</strong></span> gerados em Vendas</li>


                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>







































































































<section id="section7" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-7 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case04.jpg" alt="Campanha">
                </div>  
                

            </div>
          

            <div class="col-md-5 col-12">

                <div class="bottom2">
                    <h2>CAMPANHA NICHO BLACK</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-plus"></i>&nbsp; Cliente trabalha como  <span class="color1"><strong>Afiliado</strong></span> e tinha dificuldade para vender com ROI no Nicho Black, e pediu o acompanhamento de um mês</li>
                        
                        <li><i class="fa fa-plus"></i>&nbsp; Escolhemos o produto, planejamos e executamos uma Estratégia e <span class="color1"><strong>Otimizamos</strong></span> a Campanha</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Resultado é, apesar de alguns Boletos não pagos, um <span class="color1"><strong>ROI de 3,03</strong></span> após 1 mês e cliente aprendeu a vender no nicho Black com lucro.</li>


                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>




















<section id="section16" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-4 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case05.jpg" alt="Campanha">
                </div>  
                

            </div>
          

            <div class="col-md-8 col-12">

                <div class="bottom2">
                    <h2>CONSULTÓRIO DE DENTISTA</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-plus"></i>&nbsp; Campanha no Google Ads para <span class="color1"><strong>Consultório Particular de Dentista</strong></span> de Belo Horizonte (MG).</li>
                        
                      
                        
                        <li><i class="fa fa-plus"></i>&nbsp; Foram feitos ajustes de <span class="color1"><strong>Palavras-Chave e Segmentação,</strong></span> e feita uma Landing Page moderna e <span class="color1"><strong>focada em conversão</strong></span> para o WhatsApp</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Resultado foi que, <span class="color1"><strong>sem alterar o orçamento diário investido,</strong></span> convertemos mais leads e mais qualificados, onde pelo menos 50% se tornaram pacientes do Consultório</li>


                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>

















<section id="section7" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-4 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case06.jpg" alt="Campanha">
                </div>  
                

            </div>
          

            <div class="col-md-8 col-12">

                <div class="bottom2">
                    <h2>ESTÉTICA AUTOMOTIVA</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-plus"></i>&nbsp; Campanha no Google Ads para <span class="color1"><strong>Oficina de Estética Automotiva</strong></span> de Belo Horizonte (MG).</li>
                        
                      
                        
                        <li><i class="fa fa-plus"></i>&nbsp; Cliente usava apenas os meios <span class="color1"><strong>tradicionais</strong></span> para anunciar seu negócio: outdoors, jornais de bairro, rádio.</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Fizemos uma estratégia de campanha simples, anunciando apenas para o <span class="color1"><strong>bairro e região</strong></span> no entorno da Oficina</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Resultado foram vários Leads extremamente qualificados convertidos para o WhatsApp do cliente, fechando de uma média de <span class="color1"><strong>3 serviços</strong></span> por semana</li>
                        
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>











<!--triplet-->
<section id="section16" class="site">

    <div class="container">


        <div class="row">


            <div class="col-md-8 col-12">

                <div class="row">
                

                    <div class="col-12 vertical-centralizer     ">
    
                    
    
    
                        <div class="media10">
                            
                            <img src="/res/images/cases/case07.jpg" alt="Campanha">
                        </div>  
                        
        
                    </div>
    
                </div>


                <div class="row">
    
                    <div class="col-md-6 col-12 vertical-centralizer bottom2">
        
                        
        
        
                        <div class="media10">
                            
                            <img src="/res/images/cases/case08.jpg" alt="Campanha">
                        </div>  
                        
        
                    </div>
        
                    <div class="col-md-6 col-12 vertical-centralizer bottom2">
        
                        
        
        
                        <div class="media10">
                            
                            <img src="/res/images/cases/case09.jpg" alt="Campanha">
                        </div>  
                        
        
                    </div>
                  
                    
        
                </div>

            </div>

            



          

            <div class="col-md-4 col-12">

                <div class="bottom2">
                    <h2>NICHO FINANCEIRO</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-plus"></i>&nbsp; Cliente entrou em contato com dificuldades para subir campanha para Nicho Financeiro no Google Ads.</li>
                        
                                              
                        <li><i class="fa fa-plus"></i>&nbsp; Segundo ele o Google derrubou todas as suas campanhas há 2 meses atrás e ele não conseguia subir novamente. </li>

                        <li><i class="fa fa-plus"></i>&nbsp; Relatou que o Google já reprovava os anúncios logo ao tentar subir e ele não entendia o motivo.</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Foi então feito uma Landing Page persuasiva e focada em conversão para o WhatsApp e seguidas todas as regras e políticas do Google para este Nicho.</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Resultado, campanha aprovada, rodando já há 1 semana normalmente e recebendo cliques qualificados.</li>

                        <li><i class="fa fa-plus"></i>&nbsp; Cliente satisfeito e voltando a faturar com seu Negócio.</li>
                                         

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>










<section id="section7" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-4 col-12 vertical-centralizer bottom2">

                


                <div class="media10">
                    
                    <img src="/res/images/cases/case10.jpg" alt="Campanha">
                </div>  
                

            </div>
          

            <div class="col-md-8 col-12">

                <div class="bottom2">
                    <h2>LAVAGEM A SECO DE ESTOFADOS - CLIENTE 2</h2>
                </div>

                
                <div class="bottom2">

                    <ul> 

                        <li><i class="fa fa-plus"></i>&nbsp; Campanha no Google Ads para <span class="color1"><strong>Lavagem a Seco de Estofados</strong></span> de cidade de Porto Seguro (BA).</li>
                        
                      
                        
                        <li>
                            <i class="fa fa-plus"></i>&nbsp; Cliente me procurou para uma <span class="color1"><strong>Consultoria/Análise</strong></span> de sua Campanha, afim de abaixar o Custo por Conversão, que ele achava que tinha ficado um alta de repente.
                        </li>

                        <li>
                            <i class="fa fa-plus"></i>&nbsp; Feita a Análise de campanha do cliente, o qual já havia gastado mais de 100K na sua Conta, foram <span class="color1"><strong>Fechadas as Torneiras</strong></span> que mais gastavam, de forma Estratégica, enxugando os gastos.
                        </li>

                  
                        <li>
                            <i class="fa fa-plus"></i>&nbsp; Resutlado após menos de 1 mês foi esse, custo de conversão baixado pela <span class="color1"><strong>Metade</strong></span>, e cliente Feliz, com <u>Lucro no Bolso</u>.
                        </li>

                        

                    </ul>

                </div><!--gifts-section1-->





            </div>
            

        </div>
        

</section>











<section id="section12" class="site">

    <div class="container">

        <div class="row centralizer">
            <div class="col-md-8 col-12 text-center">

                <div class="bottom2">
                    <h4>
                        Como seria se você pudesse usar o <span class="color1">Poder da Internet</span> a seu favor pra fazer <span class="color1">mais vendas?</span>
                    </h4>
                </div>


                <div class="bottom2">
                    <h4>
                        Como seria se você pudesse <u>parar de sofrer pra subir campanhas</u> no <span class="color1">Google</span> e no <span class="color1">Facebook?</span>
                    </h4>
                </div>


                <div class="bottom2">
                    <h4>
                        Como seria se você pudesse <span class="color1">parar de perder dinheiro</span> com <u>configurações erradas</u> e <span class="color1">direcionar melhor</span> o seu orçamento?
                    </h4>
                </div>

            
                


            </div>
        </div>
        




    </div><!--container-->

</section>















































<section id="section23" class="site">

    <div class="container">

    





        <div class="row centralizer">
            
            <div class="col-md-8 col-12 text-center">  
                


                <div class="bottom2">
                    <h4>
                        <span class="size1">
                            Sim, você pode ter tudo isso, com a ajuda de um <span class="color1">Gestor de Tráfego!</span>
                        </span>
                    </h4>
                </div>


                

                
                <div class="bottom2">
                    <h4>
                        Então pressione o botão abaixo para ir no meu WhatsApp e converse <span class="color1">diretamente comigo!</span>
                    </h4>
                </div>
              
              

                <div class="media2 bottom1">
                    <img src="/res/images/arrow-down.png" alt="Setas Para Baixo">
                </div>

                <div class="bottom2">
                    <a id="lead" href="{$link1}">
                        <button class="button2">
                            <i class="fa fa-whatsapp"></i>&nbsp; Sim! Quero conversar sobre a Gestão de Tráfego do meu Negócio!
                        </button>
                    </a>
                </div>
                

            </div>


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>


























































<section id="section13" class="site">

    <div class="container">


        <div class="row">

            <div class="col-md-7 col-12 vertical-centralizer bottom1">

                <div class="media8">
                    
                    <img src="/res/images/certificados/photo35.jpeg" alt="Certificado">
                </div>  
                

            </div>
          

            <div class="col-md-5 col-12">

                <div class="bottom2">
                    <h2>GPA DOMÍNIO ESTRATÉGICO</h2>
                </div>

                <div class="bottom2">
                    <h4>Certificado de Conclusão de um dos <span class="color1"><strong>MELHORES CURSOS</strong></span> de Google Ads do Brasil: <span class="color1"><strong>GPA Domínio Estratégico</strong></span> do <u>Caio Calderaro</u>                       
                    </h4>
                </div>

                


            </div>
            

        </div>
        

</section>







