<section id="section0" class="site">

    <div class="container">

        <div class="row centralizer bottom2">
            <div class="col-md-10 col-12 centralizer">
                <div class="logo centralizer">
                    <img src="/res/images/logo/logo-main.jpg" class="img-responsive">
                </div>
               
            </div>
        </div>

       
        
        <div class="row centralizer bottom1">


     
            <div class="col-md-10 col-12 centralizer">

                <a href="https://bit.ly/3hiBvdw"><button type="button" class="button0">Fale Comigo no WhatsApp!</button></a>

            </div>
            
        </div>



        <div class="row centralizer bottom1">


     
            <div class="col-md-10 col-12 centralizer">


                <a target="_blank" href="https://ext2.com.br"><button type="button" class="button0">Portfólio [Clique aqui para saber mais sobre mim]</button></a>
            </div>
            
        </div>


        <div class="row centralizer bottom1">


     
            <div class="col-md-10 col-12 centralizer">


                <a href="/bigpackdesigner"><button type="button" class="button0">Voltar à Página Promocional do Big Pack Designer</button></a>
            </div>
            
        </div>

        
   



    </div>

</section>



