<section id="section6" class="site">

    <div class="container">

        <div class="row centralizer bottom2">
            <div class="col-md-10 col-12 centralizer">
                <div class="logo centralizer">
                    <img src="/res/images/logo/logo-main.png" class="img-responsive">
                </div>
            </div>
        </div>
        
        
        <div class="row centralizer bottom1">



            
     

            <div class="col-md-6 col-12 text-center">

                <form id="login-form" action="/login" method="post">


                    {if="$error != ''"}
                    <div class="alert alert-danger">
                        {$error}
                    </div>
                    {/if}



                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="deslogin" name="deslogin" placeholder="E-mail" value="{$errorLogin.deslogin}">
                    </div>

                    <div class="form-group bottom2">

                        <input type="password" class="form-control" id="exampleInputPassword1" id="despassword" name="despassword" placeholder="Senha">

                    </div>

                    <button type="submit" class="button1">Entrar</button>
                    <br>
                    <a href="/recuperar-senha">Esqueceu sua Senha?</a>
            
                </form>

            </div>
            
        </div>



    </div>

</section>



