<section id="section6" class="site">

    <div class="container">

        <div class="row centralizer bottom2">
            <div class="col-md-10 col-12 centralizer">
                <div class="logo centralizer">
                    <img src="/res/images/logo/logo-main.png" class="img-responsive">
                </div>
            </div>
        </div>
        
        
        <div class="row centralizer bottom1">



            
     

            <div class="col-md-10 col-12 text-center">

                <form id="login-form" action="/recuperar-senha" method="post">


                    
                    <h1 class="font-weight-normal">Recuperação de Senha Enviada!</h1>

                    <h4><span class="lighter1">Por favor, verifique o seu Email (inclusive a caixa de Spam).</span></h4>

                    <br>
                    <a href="/login">Voltar para o Login</a>
            
                </form>

            </div>
            
        </div>



    </div>

</section>



