<section id="section6" class="site">

    <div class="container">

        <div class="row centralizer bottom2">
            <div class="col-md-10 col-12 centralizer">
                <div class="logo centralizer">
                    <img src="/res/images/logo/logo-main.png" class="img-responsive">
                </div>
            </div>
        </div>
        
        
        <div class="row centralizer bottom1">



            
     

            <div class="col-md-10 col-12 text-center">



                
                <h1>Senha Modificada Com Sucesso!</h1>

                <h4><span class="lighter1">Por favor, acesse o Login para utilizar a Nova Senha.</span></h4>

                    

               
                <a class="link2" href="/login">Voltar para o Login</a>
            
             

            </div>
            
        </div>



    </div>

</section>



