<section id="section23" class="site">

    <div class="container">

    





        <div class="row centralizer">
            
            <div class="col-md-8 col-12 text-center">  
                


                <div class="bottom2">
                    <h1><span class="size1"><span class="color6">Gerador de Hashtags</span> para Instagram</span></h1>
                </div>

               


            </div>


          
       
               
            
        </div><!--row-->






    </div><!--container-->

</section>



















<section id="section3">

    <div class="container-fluid">            
            
            
        <!--
            <div class="row bottom2">

            <div class="col-md-12 text-center">

                <h2>CURSOS</h2>

            </div>

        </div>
        -->



        <div class="row centralizer text-center">

            <div class="col-md-4 col-12 bottom2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio0" id="radio1" value="0" checked>
                    <label class="color3 form-check-label" for="radio1">Lista</label>
                </div>
            </div>
            <div class="col-md-4 col-12 bottom2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio0" id="radio2" value="1">
                    <label class="color3 form-check-label" for="radio2">Em Linha</label>
                </div>
            </div>
            <div class="col-md-4 col-12 bottom2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radio0" id="radio3" value="2">
                    <label class="color3 form-check-label" for="radio3">Separado por Vírgula</label>
                </div>
            </div>




            
            
            
            
            


        </div>





        <div class="row">

            <div class="col-12 text-center">


                <div class="bottom2">
                    <textarea name="area2" id="area2" class="area2" cols="60" rows="20"></textarea>
                </div>
                 
                <div class="bottom2">
                    <button class="button1" id="insert2">Inserir</button>
                </div>

            





            </div>
    
        </div>








        <div class="row">

            <div class="col-12 text-center">


                <div class="bottom2">
                    <textarea name="area1" id="area1" class="area1" cols="60" rows="20" readonly>{loop="$negative.pt_br"}{$value}{/loop}</textarea>
                </div>
                 
                <div class="bottom2">
                    <button class="button1" id="copy1">Copiar</button>
                </div>

            





            </div>
    
        </div>


        



    </div>

</section>










































<section id="section14" class="site">

    <div class="container">


   

        <div class="row bottom2 centralizer">
     
            <div class="col-md-6 text-center">
                
                <div class="bottom2">
                    <h2>
                        TEM ALGUMA DÚVIDA?
                    </h2>

                    <h4>
                        Fale com a gente no WhatsApp. Vai ser um prazer te ajudar!
                     </h4>
                </div>
                
                               
                

            </div><!--col-->
            
        </div><!--row-->
        
        <div class="row centralizer">


            
     
            <div class="col-md-6 text-center bottom3">
                
                
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5531984050125&text=Gostaria%20de%20falar%20sobre%20os%20Cursos%20de%20PHP!">
                    <button class="button1">Quero tirar dúvidas no WhatsApp!</button>
                </a>             
                

            </div><!--col-->
            
        </div><!--row-->


    </div><!--container-->

</section>
 