@font-face{font-family:'PatuaOne';src:url("/res/fonts/PatuaOne/PatuaOne-Regular.ttf");}

*{margin:0;}
#redirect{background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url("/res/images/banner/banner4.jpg") no-repeat;padding:15% 10%;background-position-y:top;height: 100vh;}

h1{font-size:3rem;font-family:'PatuaOne';color:#000;;}

@media only screen and (max-width:767px){
#redirect{padding:30% 10%;background-position-x:-250px;background-position-y:bottom;}
h1{font-size: 2rem;}
}
