<section id="section1" class="site">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-md-12 dash-login-wrapper">
                



                <div class="card2">
                    



                    


                    


                    <div class="dash-login-form">



                        <form id="login-form" action="/painel/login" method="post">

                        
                        <p>

                            <div class="logo centralizer">
                                <img src="/res/images/logo/logo-main.png" class="img-responsive">
                            </div>


                        </p>




                        <div class="error-login-row">
                            
                            {if="$error != ''"}
                            <div class="alert alert-danger">
                                {$error}
                            </div>
                            {/if}
                            
                        </div>





                        <p>

                            <!--<label for="login">E-mail <span class="required">*</span>
                            </label>-->

                            <input type="text" id="login" name="login" placeholder="E-mail" class="input-text">
                        
                        </p>




                        <p>

                            <!--<label for="senha">Senha <span class="required">*</span>
                            </label>-->

                            <input type="password" id="senha" name="password" placeholder="Senha" class="input-text">

                        </p>






                        <div>

                            <input id="login-button" class="dash-login-button" type="submit" value="Entrar" class="button">

                        </div>

                        <!--<div class="dash-login-pass-recovery">

                            <a href="/recuperar-senha">Esqueceu a senha?</a>

                        </div>-->

                        <div class="clear"></div>

                    </form> 

                    </div>




                </div><!--box-->





            </div><!--col-->

        </div><!--row-->

    </div><!--container-->


</section>

